body,
html {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.img-responsive {
  display: inline-block;
}

footer {
  margin-top: 50px;
}

footer.footer-fe {
  background-color: #333333;
  color: #fff;
  height: 200px;
  position: relative;

  h3 {
    margin-top: 70px;
  }

  .form-subscription {

  }
}
