<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset #title}{include #title} - {/ifset}Nakopni školu</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/node_modules/bootstrap/dist/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="{$basePath}/css/app.min.css">
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="container-fluid">
    {include content}
</div>

	{control subscriptionForm}

<!-- Scripts -->
{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{$basePath}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{/block}
</body>
</html>
